
<!-- ng-app="black_Habit" -->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="nunLogo" href="#"><%= image_tag "nun.png", id: "nunLogo" %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="Username">William Dembinski</a></li>
        <li class="dropdown">
          <a href="#" id="blackHabbitSettings"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i id="settingsCog"class="fa fa-cog fa-2x"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- collapse -->
  </div><!-- fluid -->
</nav>

<div class="navbar" id="primarySearch">
  <div class="spacer">
    <div>
      <a class="" href="#"><%= image_tag "blackHabitText.png", id: "blackHabitText" %></a>
      
    </div>
    <a class="nunLogo" href="#"><%= image_tag "nun.png",  id: "nunLogo"%></a>
    <%= form_tag("/searches/search", method: "get", class: "navbar-form", id:"primaryInput",role: "Search") do %>
      <div class="form-group">
        <%= text_field_tag("blackHabbitPrimarySearch","Search", {:class => "form-control",placeholder:"Search"}) %>
      </div>
      <%= button_tag(type: 'submit',id: "blackHabitSearchButton", class: "btn btn-default") do %>
        <% content_tag(:i, '', class: "fa fa-search") %>
      <% end %>
    <% end %>
  </div>
</div>


 <!-- <div class="blackHabbitTools jumbotron">
    <ul class="nav navbar-nav navbar-right ">
     <li class="dropdown">
        <a href="#" id="blackHabbitSettings"class="dropdown-toggle suggestionSettings" data-toggle="dropdown" role="button" aria-expanded="false"><i id="settingsCog"class="fa fa-caret-square-o-down"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </li>
      </ul>
    <p id="historyTitle">History</p>
    <img class="mostRelThumbnail"src="images/thumbNail.jpg">
    <img class="mostRelThumbnail"src="images/thumbNail1.jpg">
    <img class="mostRelThumbnail"src="images/thumbNail2.jpg">
      <div class="superResultDescription">
        <ul class="descriptionContent">
          <li>
             <a href=""><p class="resultName">d/dubstep</p></a>
          </li>
          <li>
             <p class="resultExpiration">Expires In:</p><a href="">14292</a><p class="createdDate"> Created 1/22/14</p>
          </li>
          <li>
            <p class="json">Record:</p>
             <p class="json">
             {"name" : "d/dubstep","value" : "{\"bitmessage\":\"BM-2cUyrUNq91XqdPSKvcHSytuED9nnTazf5r\"}",
              "expires_in" : 14292}
            </p>
          </li>
          <li>
            <a href=""><p class="visitsToday">Visits Today:</p></a>225
          </li>
          <li>
            <a href=""><p class="status">Status:<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p></a>
          </li>
          <hr>
          <li>
            <p id="snapShotTitle">Snapshot:</p>

            <p id="snapShot"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor<br> <br>in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.  in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur...</p>
          </li>
        </ul>
      </div>
  </div> -->

<!--   <div ng-controller="resultCtrl" class="jumboResults">
    Search: <input ng-model="query">
    <div ng-repeat="result in results | filter:query" class="jumbotron subResult">

      <div class="nextResultDescription">
        <ul class="nextdescriptionContent">
          <li>
             <a href=""><p class="resultName">{{ result.name }}</p></a>
             
             <i class="fa fa-caret-down"></i>
          </li>
          <li class="metaRow">
             <p class="resultExpiration">Expires In:</p><a href="">{{ result.expires_in }}</a><p class="createdDate"> Created 1/22/14</p>
          </li>
          <li>
            <p class="json">Record:</p>
             <p class="json">
             {{result}}
            </p>
            <a href="">  <i class="fa fa-question"></i></a>
          </li>
        </ul>
        <ul class="nextResultMetaData">
          <li>
            <a href=""><p class="visitsToday">Visits Today:</p></a>225
          </li>
          <li>
            <a href=""><p class="status">Status:<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p></a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
