<%= render "layouts/user_errors"%>
<%= render "layouts/flash_message"%>

<a href="signup"id="signup"name="signup"></a>
<%= form_for(@user,:url => { :action => "create" , :anchor => "signup" }) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <hr class="hr">
  <%= submit_tag "Create my account", class: "chunky" %>
<% end %>