<!DOCTYPE html>
<html ng-app="black_Habit" ng-controller="black_Habit">
  <head>
    <title>Bit &amp; Stone</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nunito">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-controller="main" scroll>
    <% if flash[:top_msg] %>
     <%= content_tag :div, flash[:top_msg], class: "alert alert-info" %>
    <% end %>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-cookies.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  </body>
</html>
