<%= form_for(@userQuery) do |f| %>
  <% if @userQuery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userQuery.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @userQuery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userQuery %><br>
    <%= f.text_field :userQuery %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
